@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* @import url('https://db.onlinewebfonts.com/c/189f4145fdcc733b786c5689b01500da?family=Chronicle+Text+G1'); */

@font-face {font-family: "Chronicle Text G1";
  src: url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/189f4145fdcc733b786c5689b01500da.svg#Chronicle Text G1") format("svg"); /* iOS 4.1- */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Open Sans, sans-serif;
  }
}

.btn-red {
  @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-gradient-to-r from-crimson via-cherry-red to-hilight-orange
  hover:bg-gradient-to-r hover:from-[#b80541] hover:to-hilight-orange active:bg-gradient-to-l active:from-[#a80125] active:to-[#03111b] transition ease-out duration-500;
}
.btn-brd{
  @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-gradient-to-r from-crimson via-cherry-red to-hilight-orange;
}

.btn-white {
    @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-white
    hover:bg-[#fff5f7] active:bg-[#ffdbe2] transition ease-out duration-500;
  }

  .btn-wsu-orange{
    @apply bg-split-black-orange bg-size-200 bg-right-bottom transition-all ease-out duration-300 hover:bg-left-bottom hover:text-hilight-orange active:bg-wsu-black;
  }
  .btn-wsu-grey{
    @apply  bg-split-black-grey bg-size-200 bg-right-bottom transition-all ease-out duration-300 hover:bg-left-bottom hover:bg-black text-black hover:text-white active:bg-wsu-black ;
  }

  .btn-wsu-footer{
    @apply bg-split-grey-orange bg-size-200 bg-right-bottom transition-all ease-out duration-300 hover:bg-left-bottom active:bg-hilight-orange
  }