@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('//db.onlinewebfonts.com/c/189f4145fdcc733b786c5689b01500da?family=Chronicle+Text+G1');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Open Sans, sans-serif;
  }
}

.btn-red {
  @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-gradient-to-r from-crimson via-cherry-red to-hilight-orange
  hover:bg-gradient-to-r hover:from-[#b80541] hover:to-hilight-orange active:bg-gradient-to-l active:from-[#a80125] active:to-[#03111b];
}
.btn-brd{
  @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-gradient-to-r from-crimson via-cherry-red to-hilight-orange
}

.btn-white {
    @apply rounded-tr-[1rem] rounded-bl-[1rem] rounded-tl-[0.2rem] rounded-br-[0.2rem] bg-white
    hover:bg-[#fff5f7] active:bg-[#ffdbe2];
  }

  .btn-wsu1{
    @apply bg-hilight-orange hover:bg-black text-black hover:text-hilight-orange transition-colors ease-out duration-300;
  }

  .btn-wsu2{
    @apply  hover:bg-black text-black hover:text-white transition ease-out duration-300;
  }
